

* {
    
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: large;
    
}

a {
    color: rgb(99, 100, 100);
    text-decoration: none;
    margin: 20px;
}

h1 {
    font-size: 3rem;
    margin: 20px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

h2 {
    font-size: 2.5rem;
    margin: 16px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

@media(max-width: 768px){

    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
}

.header{
    padding: 20px 10px 20px 10px ;
    background-color: rgb(223, 149, 53);
    color: aliceblue;
    text-align: center;
}

.menu{
    padding: 0px ;
    font-size: 1.5rem;
    background-color: rgb(223, 149, 53);
    color: aliceblue;
    text-align: center;
}

.menu a {
    color: aliceblue;
}

.somos_cachu{
    
    text-align: center;
}

.somos_cachu img {
    
    max-width: 50%;
}

@media(max-width: 768px) {
    .somos_cachu img {
        max-width: 100%;
    }   
}
.products {
    text-align: center; 
    /* background-color: rgb(223, 149, 53);     */
    padding: 10%;
}

.product-view {
    padding: 50px 0px 100px 0px;
}

.product-name {
    margin: 50px 0px;
}

.product-img {
    max-width: 100%;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

/* .gallery  img {
    max-width: 20%;
} */

.formulario {
    padding: 100px 100px ;
    text-align: left;
}

.formulario  div {
    margin: 20px;
}
.formtitle {
    text-align: center;
    border-style: solid;
    background-color: rgb(223, 149, 53);
    color: aliceblue;
}

@media(max-width: 768px){
    .formulario {
        max-width: 90%;
        padding: 5%;
    }

    .formulario input, 
    .formulario textarea {
        max-width: 80%;
    }
}

.footer{
    padding: 30px 10px 30px 10px;
    text-align: center;
    text-align: center;
    color: rgb(254, 254, 254);
    background-color: rgb(223, 149, 53);

}

.navbar {
    margin: 0px;
    padding: 0px; 
}

nav {
    margin: 0px;
}

.col-image {
    max-width: 90%;
    margin: 20px;
}


/* CSS PARA HORA */
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

.btn-primary {
    background-color: rgb(223, 149, 53);
    border-color: rgb(223, 149, 53);
 }

 .btn-primary:hover, .btn-primary:focus {
    background-color: rgb(222, 173, 108);
    border-color: rgb(222, 173, 108);
 }

.card{
    text-align: center;
}

.card img{
    margin-top: 20px;
    width: 70% !important;
    max-width: 200px;
}
